/*
selector{
    property: value;
    property: value;
    property: value;
}


*/
img {
    border-radius: 8px;

}

.btn1{
    height: 37px;
    width: 55px;
    left: 890px;
    top: 366px;
    border-radius: nullpx;
    font-family: WenYue HouXianDaiTi;

    
}
